section {
  min-height: 100dvh;
  width: 100dvw;
  display: flex;
  flex-direction: column;
}

.layout-grid {
  margin-top: calc(var(--header-height));
  display: grid;
  grid-template-columns: 250px 1fr;
  flex: 1;
  min-height: 0;
}

aside {
  border-right: 1px solid var(--gray-300);
  padding: 12px;
  background: var(--gray-100);
}

.content {
  margin-left: 16px;
  padding: 12px;
  overflow: auto;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.grid-column {
  display: grid;
  grid-template-rows: repeat(8, 1fr);
  gap: 16px;
}
