.navigation {
  height: 100%;
  background-color: var(--gray-100);
}

.navigation ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style: none;
}

ul li {
  background-color: var(--gray-200);
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul li button {
  width: 100%;
  height: 100%;
  border: none;
  background-color: var(--gray-200);
  cursor: pointer;
  font-size: larger;
}

ul li button.active {
  background-color: var(--gray-500);
}

ul li button:hover,
ul li button:focus,
ul li button:active {
  background-color: var(--gray-500);
}
